In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(123) ## random seed for reproducing the same set

In [3]:
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [5]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

In [7]:
class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [8]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [9]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [10]:
df.tail()

     feature_1  feature_2  target
995   1.754312   0.519677       1
996  -0.717891  -1.576624       1
997  -0.823192   0.398328       1
998   1.535918  -0.111410       1
999   1.307740   0.060793       1

In [11]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## upsampling

to insrease number of minorities

In [12]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0] ## as in target 0 are more

In [13]:
from sklearn.utils import resample

In [14]:
df_minority_upsampled=resample(df_minority, ## upsample df_minority
         replace=True, ## add samples with replacement
         n_samples=len(df_majority), ## make the size equals to df_majority
         random_state=42
         )

In [15]:
df_minority_upsampled.shape

(900, 3)

In [16]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [17]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down sampling

decrease the number of majority

In [18]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [19]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0] ## as in target 0 are more

In [20]:
from sklearn.utils import resample

In [21]:
df_majority_downsampled=resample(df_majority, ## downsample df_majority
         replace=False, ## no need to add samples
         n_samples=len(df_minority), ## make the size equals to df_minority
         random_state=42
         )

In [22]:
df_majority_downsampled.shape

(100, 3)

In [23]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [24]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

down sampling is not good as , we will loose data